{
  "presets": [
    ["env", { "targets": { "node": true } }],
    "stage-3",
    "react"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "latest",
        "stage-3",
        "react"
      ],
    },
    "umd": {
      "presets": [
        ["latest", { "es2015": { "modules": false } }],
        "stage-3",
        "react"
      ],
    }
  }
}
