{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    "no-confusing-arrow": 0,

    "max-len": [
      "error",
      {
        "ignoreComments": false,
        "ignoreStrings": true,
        "code": 80
      }
    ],

    // Going hipster
    "semi": [2, "never"],

    // Annoying rules
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0
  }
}
